@model Baby_Project.Models.Persona


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" align="center">
        <h4 style="color:azure">Añadir Persona</h4>
        <div>
            @Html.ActionLink("Regresar al listado de Persona", "GetPersonas", null, htmlAttributes: new { @style = "color:#ffffff" })
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Persona_Nombre, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:#ffffff" })
            <div class="form">
                @Html.EditorFor(model => model.Persona_Nombre, new { htmlAttributes = new { @class = "form-control", } })
                @Html.ValidationMessageFor(model => model.Persona_Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Persona_Apellido, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:#ffffff" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Persona_Apellido, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.Persona_Apellido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Persona_Email, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:#ffffff" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Persona_Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Persona_Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Persona_FecNac, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:#ffffff" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Persona_FecNac, new { @class = "form-control datepicker", placeholder = "Ingrese su fecha de nacimiento" })
                @*@Html.EditorFor(model => model.Persona_FecNac, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Persona_FecNac, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Persona_Sexo, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:#ffffff" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Persona_Sexo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Persona_Sexo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Persona_Celular, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:#ffffff" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Persona_Celular, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Persona_Celular, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Persona_Username, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:#ffffff" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Persona_Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Persona_Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Persona_Password, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:#ffffff" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Persona_Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Persona_Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Persona_Tipo_ID, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:#ffffff" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Persona_Tipo_ID, (IEnumerable<SelectListItem>)ViewBag.Opciones, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Persona_Tipo_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-p" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="color:green">
                @ViewBag.Message
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.datepicker').datepicker();
    });
</script>
