@model IEnumerable<Baby_Project.Models.Persona>

<p>
    @Html.ActionLink("Añadir Persona", "AddPersona", null, htmlAttributes: new { @style = "color:#ffffff" })
</p>
<table class="table table-responsive" align="center">
    <thead class="">
        <tr>
            <th scope="col" style="color:azure">ID</th>
            <th scope="col" style="color:azure">Nombre</th>
            <th scope="col" style="color:azure">Apellido</th>
            <th scope="col" style="color:azure">Email</th>
            <th scope="col" style="color:azure">Fecha Nacimiento</th>
            <th scope="col" style="color:azure">Sexo</th>
            <th scope="col" style="color:azure">Celular</th>
            <th scope="col" style="color:azure">Username</th>
            <th scope="col" style="color:azure">Tipo de Usuario</th>
            <th scope="col" style="color:azure">Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {

            <tr style="color:azure">
                <td>
                    @Html.DisplayFor(modelItem => item.Persona_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Persona_Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Persona_Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Persona_Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Persona_FecNac)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Persona_Sexo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Persona_Celular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Persona_Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Persona_Tipo_ID)
                </td>
                <td>
                    <button type="button" class="btn btn-warning" >
                        @Html.ActionLink("Edit", "EditPersona", new { id = item.Persona_Id })

                    </button>

                    <button type="button" class="btn btn-danger">
                        @Html.ActionLink("Delete", "DeletePersona",
                           new { id=item.Persona_Id },
                           new { onclick = "return confirm('¿Estas seguro que quieres borrar este registro?');"
                               })

                    </button>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10" style="color:green">
                            @ViewBag.Message
                        </div>
                    </div>
                </td>
            </tr>
      
    }
        </tbody>
    </table>

@Html.ActionLink("Volver al Index","Index","Persona", null, htmlAttributes: new { @style = "color:#ffffff" })
